{%extends 'base.html'%}
{%load static %}

{%block contenido%}

    <!-- Contenido -->
    <main>
        <!--BANNER-->
        <div class="container-fluid" style="background-color:bisque;">
            <div class="row">
                <div class="bg-image w-100 vh-100 d-block justify-content-center align-items-center">
                    <div class="content text-center m-1">
                        <h1>OPCION POR LOS POBRES</h1>
                        <!--DISEÑAR LA FRASE-->
                        <h2>(BARRA DE INICIO DE SESION)</h1> 
                        <!--DISEÑAR BARRA DE LOGUIN (NO DE REGISTRO)-->
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="bg-image w-100 vh-100 d-flex justify-content-center align-items-center">
            <div class="content text-center"></div>
            <h1>TEXTO</h1>
        </div> -->

        <!--SIDE BAR - BODY-->
        <div class="container-lg">
            <div class="row">
                <div class="col-md-9" style="background-color: orange;">
                    BODY
                    <div class="row">
                        NOTICIA 1
                    </div>
                    <div class="row">
                        NOTICIA 2
                    </div>
                    <div class="row">
                        NOTICIA 3
                    </div>
                    <div class="row">
                        NOTICIA 4
                    </div>
                    <div class="row">
                        NOTICIA 5
                    </div>
                </div>
                <div class="col-md-3" style="background-color:aqua;">
                    ASIDE
                    <div class="row">
                        <div class="col m-1" style="background-color: #ffff;">
                            CATEGORIAS
                        </div>
                        <div class="col m-1" style="background-color: #ffff;">
                            EVENTOS(calendario)
                        </div>
                        <div class="col m-1" style="background-color: #ffff;">
                            TALLERES
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--SEPARADOR-->
        <div class="container-lg">
            <div class="row">
                <div class="col-sm-12" style="background-color:palegreen ;">
                    --SEPARADOR-- (Cards)
                </div>
            </div>
        </div>

        <!--FOOTER-->
        <div class="container">
            <div class="row">
                <div class="col" style="background-color: #ffff;">
                    FOOTER
                </div>
            </div>
        </div>

    </main> 
    
{%endblock contenido%}

  
    