{%extends 'base.html'%}
{%load static %}

{%block contenido%}

    <!-- Contenido -->
    
        <!--BANNER-->



     

    <div class="contenedor">

        <div class="box-noticias1">
            <div class="Titulo">
                <h1>Actividades</h1>
                <hr/>
            </div>
            {%for a in actividad%}
            <img src="{{a.imagen.url}}" alt="" class="box-img">
            <div class="box-info-noticia">
                <p><small class="text-muted" style="font-style: italic; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"; >{{post.creado}}</small></p>
                <h1>{{a}}</h1>
                <p class="p-textcorto">{{a.cuerpo}}</p>
                <a href="{%url 'actividades:detalle_actividad' a.id %}"> Saber más..</a> 
            </div>
            {%endfor%}
            <a class="btn btn-primary" href="{%url 'actividades:listar_actividades' %}" role="button" style="margin-top: 0.5rem;">Ver todas las actividades...</a>
                    <!-- <nav aria-label="Page navigation example" style="background-color:transparent;">
                        <ul class="pagination justify-content-center">
                            {%if posts.has_previous%}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span> Inicio
                                </a>
                            </li>
                                
                            <li class="page-item">
                                <a class="page-link" href="?page={{posts.previous_page_number}}">&laquo;</a>
                            </li>
                            {%endif%}
                            {%for pagina in paginas%}
                            <li class="page-item">
                                <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                            </li>
                            {%endfor%}
                            {%if posts.has_next%}
                            <li class="page-item">
                                <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{posts.paginator.num_pages}}">Ultima</a>
                            </li>
                            {%endif%}
                        </ul>
                    </nav> -->
                    
                    
        </div>
        
        
        <div class="box-aside1">
            <div class="box-inside-aside1">
                <p><small class="text-muted" style="font-style: italic; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"; ></small> Lucha por la Justicia Social, los Derechos Humanos, de Género y de nuestros Pueblos Originarios<p>
                <h1>"OPCION POR LOS POBRES"</h1>
                <a class="btn btn-warning" href="{%url 'usuarios:Logearse'%}" ><h3>UNIRSE</h3></a>

                
            </div>
        </div>
        
        
        <div class="box-aside2" style="background-color: plum;">ASIDE2
                
        </div>
        
        
        
            <!-- <div class="box-footer">FOOTER
        
            </div> -->
                
    </div>    







        <!--SIDE BAR - BODY-->
        <br>
    <div class="container">  
        <div class="container-sm">
            <div class="row">
                <h3>Últimas Noticias</h3>
                {%for post in noticia %}
                <div class="col-sm-9 card card-noticia-home">
                    <div class="row p-2">
                        <div class="col-sm-4">
                            <img src="{{post.imagen.url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                          <div class="col-sm-8">
                            <div class="card-body" style="position:relative;">
                              <h5 class="card-title">{{post}}</h5>
                              <p class="card-text">{{post.TextCorto}}</p>
                              <p class="card-text"><small class="text-muted">{{post.creado}}</small></p>
                              <a href="{%url 'noticias:MostrarNoticia' post.id %}"class="stretched-link"></a>
                            </div>
                          </div> 
                    </div>
                   



                 
          <!--          <div class="container-lg">
                        <div class="row">
                            <div class="col-sm-12" style="background-color:palegreen ;">
                                --SEPARADOR-- (Cards)
                            </div>
                        </div>
                    </div>-->
                </div>
            {%endfor%}
            </div>
            <!-- <a class="btn btn-primary" href="{%url 'noticias:listar_noticias' %}" role="button" style="margin-top: 0.5rem;">Ver más noticias...</a> -->
        </div>
    </div>
  

{%endblock contenido%} 
        


  


  
    