{%extends 'base.html'%}
{%load static %}

{%block contenido%}

    <!-- Contenido -->
    
        <!--BANNER-->



        <div class="container-fluid" style="background-color:bisque;">
            <div class="row">
                <div class="bg-image w-100 vh-100 d-block justify-content-center align-items-center">
                    <div class="content text-center m-1">
                        <h1>OPCION POR LOS POBRES</h1>
                        <!--DISEÑAR LA FRASE-->
                        <h2>(BARRA DE INICIO DE SESION)</h2>
                        <!--DISEÑAR BARRA DE LOGUIN (NO DE REGISTRO)-->
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="bg-image w-100 vh-100 d-flex justify-content-center align-items-center">
            <div class="content text-center"></div>
            <h1>TEXTO</h1>
        </div> -->



        <!--SIDE BAR - BODY-->
        <br>
 <div class="container">  
        <div class="container-lg">
            <div class="row">
                {%for post in noticia %}
                <div class="col-sm-9">
                    <div class="row p-2" >
                        <div class="col-md-4">
                            <img src="{{post.imagen.url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                          <div class="col-md-8">
                            <div class="card-body" style="position:relative;">
                              <h5 class="card-title">{{post}}</h5>
                              <p class="card-text">{{post.TextCorto}}</p>
                              <p class="card-text"><small class="text-muted">{{post.creado}}</small></p>
                              <a href="{%url 'noticias:MostrarNoticia' post.id %}"class="stretched-link"></a>
                            </div>
                          </div> 
                    </div>
                   



                 
          <!--          <div class="container-lg">
                        <div class="row">
                            <div class="col-sm-12" style="background-color:palegreen ;">
                                --SEPARADOR-- (Cards)
                            </div>
                        </div>
                    </div>-->
            </div>
            {%endfor%}
        </div>
    </div>

</div>
  

        {%endblock contenido%} 
                    <!--FOOTER-->
      <!--              <div class="container">
                        <div class="row">
                            <div class="col" style="background-color: #ffff;">
                                FOOTER
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="background-color:aqua;">
                    ASIDE
                    <div class="row">
                        <div class="col m-1" style="background-color: #ffff;">
                            CATEGORIAS
                        </div>
                        <div class="col m-1" style="background-color: #ffff;">
                            EVENTOS(calendario)
                        </div>
                        <div class="col m-1" style="background-color: #ffff;">
                            TALLERES
                        </div>

                    </div>
                </div>
            </div>
        </div>-->

        <!--SEPARADOR-->
        


  


  
    