{%extends 'base.html'%}
{%load static %}

{% block contenido %}
 
<h2 class="p-2" style="text-align:center; font-family: 'Oleo Script Swash Caps', cursive;">Noticias</h2>

<div class="container"style="max-width: 1100px;">
  <hr class="border border-primary border-2 opacity-50">
    <!---Filtrado-->
  <div class="d-flex justify-content-end pb-4">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar
      </button>
      <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="">Más recientes</a></li>
      <li><a class="dropdown-item" href="">Más Antiguas</a></li>
      <li><a class="dropdown-item" href="#"></a></li>
      </ul>
    </div>
  </div>
 
  <!----------------------->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {%for n in acts %}
        <div class="col">
          <div class="card shadow border" >
            <img src="{{n.imagen.url}} " class="card-img-top" alt="..." style="max-height: 500px;">
            <div class="card-body">
              <h6 class="list-group-item"></h6>
              <h5 class="card-title">{{ n }}</h5>
              <p class="card-text">{{ n.cuerpo}}.</p>
              
              <a type="button" class="btn btn-outline-primary" href="">Saber más...</a>

            </div>
          </div>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}