
body {
    background-color: aliceblue;
}

.card-noticia-home {
    transition: box-shadow 0.3s;
    background-color: rgb(238, 238, 238);
    margin: 0.5rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    cursor:pointer;
}

.card-noticia-home:hover {
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
}


