*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
     background-color: snow; 
    /* padding-top: 70px; */    
}

            /* NAV */

.nav-link{
    color: #FFFFFF;
}

nav{
    background-color: cadetblue;
}

/******************************/
            /* Main */

 
.bg-image{
    background-image: url('../img/iglesia.jpg');
    background-size: cover; 
    background-position: center;
}
 
.bg-image h1{
    margin-top: 200px;

}

.col-md-9{
    height: 500px;
}