{%extends 'base.html'%}
{%load static %}


#{%block contenido%}
    
<body>
  <!--img style="width: 150px;" src="descarga.png" -->
  <link rel="stylesheet" href="stylesheet.css">

  <div class="login-box">
    
    
    <h1 style="text-align:center;">
      <i class="bi bi-person-circle"></i>
      <img style="text-align:center; width: 30px ;" src="">
      <img style="text-align:center;" src="descarga.png" class="avatar" alt="Avatar Image">
      
      <br>
    
      Logeate aqui
    
    
    </h1>
    <form>
      <!-- USERNAME INPUT -->
      <h1 style="text-align:center;" > 
        <label for="usuario">Usuario </label>
        <input type="text" placeholder="Escribe tu nombre">
      </h1>
      
      <!-- PASSWORD INPUT -->
      <h1 style="text-align:center;" >
        <label for="password">Clave</label>
        <input type="password" placeholder="Escribe tu clave">
        
      </h1>
      
      <h1 style="text-align:center;" >
        <input type="submit" value="Entrar" >
      </h1>
      <div style="text-align:center; font-size:20px; font-family: 'Oleo Script Swash Caps', cursive; "> 
        <a href="#">Perdiste tu clave?</a><br>
        <a href="#">No tienes cuenta?</a>  
      </div>
        
      
      
      
    </form>
  </div>
</body>
 
{%endblock contenido%}
